body {
  font-size: var(--fs-400);
  line-height: var(--lh-regular);
  font-family: var(--ff-sans);
  font-weight: var(--fw-regular);
  color: var(--color-primaryText);
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-weight: var(--fw-bold);
  --flow-space: 1em;
  line-height: var(--lh-tight);
}

h1,
.h1 {
  font-size: var(--fs-1000);
}

h2,
.h2 {
  font-size: var(--fs-800);
}

h3,
.h3 {
  font-size: var(--fs-600);
}

h4,
.h4 {
  font-size: var(--fs-700);
}
