@use "./design-tokens/generator";
@use "./design-tokens/breakpoints";

body {
  color: var(--color-text-primary);
  background-color: var(--color-z0);
  font-family: var(--ff-sans);
  font-size: var(--s-400);
  line-height: var(--lh-regular);
}
