@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: geometricPrecision;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don’t have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
/* @link https://utopia.fyi/type/calculator?c=320,17,1.2,1140,22,1.25,9,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1140;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
:root {
  --f--3-min: 10.42;
  --f--3-max: 11.26;
  --step--3: calc(
    ((var(--f--3-min) / 16) * 1rem) + (var(--f--3-max) - var(--f--3-min)) *
      var(--fluid-bp)
  );
  --f--2-min: 12.5;
  --f--2-max: 14.08;
  --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );
  --f--1-min: 15;
  --f--1-max: 17.6;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );
  --f-0-min: 18;
  --f-0-max: 22;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );
  --f-1-min: 21.6;
  --f-1-max: 27.5;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );
  --f-2-min: 25.92;
  --f-2-max: 34.38;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );
  --f-3-min: 31.1;
  --f-3-max: 42.97;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );
  --f-4-min: 37.32;
  --f-4-max: 53.71;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );
  --f-5-min: 44.79;
  --f-5-max: 67.14;
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
  --f-6-min: 53.75;
  --f-6-max: 83.92;
  --step-6: calc(
    ((var(--f-6-min) / 16) * 1rem) + (var(--f-6-max) - var(--f-6-min)) *
      var(--fluid-bp)
  );
  --f-7-min: 64.5;
  --f-7-max: 104.9;
  --step-7: calc(
    ((var(--f-7-min) / 16) * 1rem) + (var(--f-7-max) - var(--f-7-min)) *
      var(--fluid-bp)
  );
  --f-8-min: 77.4;
  --f-8-max: 131.13;
  --step-8: calc(
    ((var(--f-8-min) / 16) * 1rem) + (var(--f-8-max) - var(--f-8-min)) *
      var(--fluid-bp)
  );
  --f-9-min: 92.88;
  --f-9-max: 163.91;
  --step-9: calc(
    ((var(--f-9-min) / 16) * 1rem) + (var(--f-9-max) - var(--f-9-min)) *
      var(--fluid-bp)
  );
}

body {
  font-size: var(--fs-400);
  line-height: var(--lh-regular);
  font-family: var(--ff-sans);
  font-weight: var(--fw-regular);
  color: var(--color-primaryText);
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-weight: var(--fw-bold);
  --flow-space: 1em;
  line-height: var(--lh-tight);
}

h1,
.h1 {
  font-size: var(--fs-1000);
}

h2,
.h2 {
  font-size: var(--fs-800);
}

h3,
.h3 {
  font-size: var(--fs-600);
}

h4,
.h4 {
  font-size: var(--fs-700);
}

/**
 * FLOW
 * Applies a margin to sibling elements based on a --flow-space custom property.
 */
.flow > * + * {
  margin-top: var(--flow-space, var(--fs-400));
}

.wrapper {
  max-width: 70ch;
  margin-inline: auto;
  padding: 4rem 2rem;
}

.card {
  padding: 2rem 1rem;
  max-width: 30rem;
  margin-inline: auto;
}

/* Utilities */
/* Components */
/*CORE CONFIG
This powers everything from utility class generation to breakpoints to enabling/disabling pre-built components/utilities. 
*/
:root {
  --color-primaryText: #2d2d2f;
  --color-z0: #f2f2f3;
  --color-z1: white;
  --color-primary: #ff0a74;
  --fs-300: var(--step--1);
  --fs-400: var(--step-0);
  --fs-500: var(--step-1);
  --fs-600: var(--step-2);
  --fs-700: var(--step-3);
  --fs-800: var(--step-4);
  --fs-900: var(--step-5);
  --fs-1000: var(--step-6);
  --fs-1100: var(--step-7);
  --fs-1200: var(--step-8);
  --fs-1300: var(--step-9);
  --ff-sans: Helvetica, Arial, sans-serif;
  --ff-serif: 'Lora', serif;
  --lh-tight: 1.1;
  --lh-regular: 1.5;
  --fw-regular: 500;
  --fw-bold: 700;
}

:root {
  --color-primaryText: #2d2d2f;
  --color-z0: #f2f2f3;
  --color-z1: white;
  --color-primary: #ff0a74;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primaryText: #e7e7e9;
    --color-z0: #2d2d2f;
    --color-z1: #232325;
    --color-primary: #b80050;
  }
}
/* GORKO: auto-generated utility classes start */
.bg-primaryText {
  background: var(--color-primaryText);
}

.bg-z0 {
  background: var(--color-z0);
}

.bg-z1 {
  background: var(--color-z1);
}

.bg-primary {
  background: var(--color-primary);
}

.color-primaryText {
  color: var(--color-primaryText);
}

.color-z0 {
  color: var(--color-z0);
}

.color-z1 {
  color: var(--color-z1);
}

.color-primary {
  color: var(--color-primary);
}

.ff-sans {
  font-family: var(--ff-sans);
}

.ff-serif {
  font-family: var(--ff-serif);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-1000 {
  font-size: var(--fs-1000);
}

.fs-1100 {
  font-size: var(--fs-1100);
}

.fs-1200 {
  font-size: var(--fs-1200);
}

.fs-1300 {
  font-size: var(--fs-1300);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.lh-tight {
  line-height: var(--lh-tight);
}

.lh-regular {
  line-height: var(--lh-regular);
}

.gap-top-300 {
  margin-top: var(--step--1);
}

.gap-top-400 {
  margin-top: var(--step-0);
}

.gap-top-500 {
  margin-top: var(--step-1);
}

.gap-top-600 {
  margin-top: var(--step-2);
}

.gap-top-700 {
  margin-top: var(--step-3);
}

.gap-top-800 {
  margin-top: var(--step-4);
}

.gap-top-900 {
  margin-top: var(--step-5);
}

.gap-top-1000 {
  margin-top: var(--step-6);
}

.gap-top-1100 {
  margin-top: var(--step-7);
}

.gap-top-1200 {
  margin-top: var(--step-8);
}

.gap-top-1300 {
  margin-top: var(--step-9);
}

.gap-right-300 {
  margin-right: var(--step--1);
}

.gap-right-400 {
  margin-right: var(--step-0);
}

.gap-right-500 {
  margin-right: var(--step-1);
}

.gap-right-600 {
  margin-right: var(--step-2);
}

.gap-right-700 {
  margin-right: var(--step-3);
}

.gap-right-800 {
  margin-right: var(--step-4);
}

.gap-right-900 {
  margin-right: var(--step-5);
}

.gap-right-1000 {
  margin-right: var(--step-6);
}

.gap-right-1100 {
  margin-right: var(--step-7);
}

.gap-right-1200 {
  margin-right: var(--step-8);
}

.gap-right-1300 {
  margin-right: var(--step-9);
}

.gap-bottom-300 {
  margin-bottom: var(--step--1);
}

.gap-bottom-400 {
  margin-bottom: var(--step-0);
}

.gap-bottom-500 {
  margin-bottom: var(--step-1);
}

.gap-bottom-600 {
  margin-bottom: var(--step-2);
}

.gap-bottom-700 {
  margin-bottom: var(--step-3);
}

.gap-bottom-800 {
  margin-bottom: var(--step-4);
}

.gap-bottom-900 {
  margin-bottom: var(--step-5);
}

.gap-bottom-1000 {
  margin-bottom: var(--step-6);
}

.gap-bottom-1100 {
  margin-bottom: var(--step-7);
}

.gap-bottom-1200 {
  margin-bottom: var(--step-8);
}

.gap-bottom-1300 {
  margin-bottom: var(--step-9);
}

.gap-left-300 {
  margin-left: var(--step--1);
}

.gap-left-400 {
  margin-left: var(--step-0);
}

.gap-left-500 {
  margin-left: var(--step-1);
}

.gap-left-600 {
  margin-left: var(--step-2);
}

.gap-left-700 {
  margin-left: var(--step-3);
}

.gap-left-800 {
  margin-left: var(--step-4);
}

.gap-left-900 {
  margin-left: var(--step-5);
}

.gap-left-1000 {
  margin-left: var(--step-6);
}

.gap-left-1100 {
  margin-left: var(--step-7);
}

.gap-left-1200 {
  margin-left: var(--step-8);
}

.gap-left-1300 {
  margin-left: var(--step-9);
}

.pad-top-300 {
  padding-top: var(--step--1);
}

.pad-top-400 {
  padding-top: var(--step-0);
}

.pad-top-500 {
  padding-top: var(--step-1);
}

.pad-top-600 {
  padding-top: var(--step-2);
}

.pad-top-700 {
  padding-top: var(--step-3);
}

.pad-top-800 {
  padding-top: var(--step-4);
}

.pad-top-900 {
  padding-top: var(--step-5);
}

.pad-top-1000 {
  padding-top: var(--step-6);
}

.pad-top-1100 {
  padding-top: var(--step-7);
}

.pad-top-1200 {
  padding-top: var(--step-8);
}

.pad-top-1300 {
  padding-top: var(--step-9);
}

.pad-right-300 {
  padding-right: var(--step--1);
}

.pad-right-400 {
  padding-right: var(--step-0);
}

.pad-right-500 {
  padding-right: var(--step-1);
}

.pad-right-600 {
  padding-right: var(--step-2);
}

.pad-right-700 {
  padding-right: var(--step-3);
}

.pad-right-800 {
  padding-right: var(--step-4);
}

.pad-right-900 {
  padding-right: var(--step-5);
}

.pad-right-1000 {
  padding-right: var(--step-6);
}

.pad-right-1100 {
  padding-right: var(--step-7);
}

.pad-right-1200 {
  padding-right: var(--step-8);
}

.pad-right-1300 {
  padding-right: var(--step-9);
}

.pad-bottom-300 {
  padding-bottom: var(--step--1);
}

.pad-bottom-400 {
  padding-bottom: var(--step-0);
}

.pad-bottom-500 {
  padding-bottom: var(--step-1);
}

.pad-bottom-600 {
  padding-bottom: var(--step-2);
}

.pad-bottom-700 {
  padding-bottom: var(--step-3);
}

.pad-bottom-800 {
  padding-bottom: var(--step-4);
}

.pad-bottom-900 {
  padding-bottom: var(--step-5);
}

.pad-bottom-1000 {
  padding-bottom: var(--step-6);
}

.pad-bottom-1100 {
  padding-bottom: var(--step-7);
}

.pad-bottom-1200 {
  padding-bottom: var(--step-8);
}

.pad-bottom-1300 {
  padding-bottom: var(--step-9);
}

.pad-left-300 {
  padding-left: var(--step--1);
}

.pad-left-400 {
  padding-left: var(--step-0);
}

.pad-left-500 {
  padding-left: var(--step-1);
}

.pad-left-600 {
  padding-left: var(--step-2);
}

.pad-left-700 {
  padding-left: var(--step-3);
}

.pad-left-800 {
  padding-left: var(--step-4);
}

.pad-left-900 {
  padding-left: var(--step-5);
}

.pad-left-1000 {
  padding-left: var(--step-6);
}

.pad-left-1100 {
  padding-left: var(--step-7);
}

.pad-left-1200 {
  padding-left: var(--step-8);
}

.pad-left-1300 {
  padding-left: var(--step-9);
}

.stack-300 {
  z-index: 0;
}

.stack-400 {
  z-index: 10;
}

.stack-500 {
  z-index: 20;
}

.stack-600 {
  z-index: 30;
}

.stack-700 {
  z-index: 40;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-quarter {
  width: 25%;
}

.width-third {
  width: 33.3333333333%;
}

@media (min-width: 36em) {
  .sm\:fs-300 {
    font-size: var(--fs-300);
  }

  .sm\:fs-400 {
    font-size: var(--fs-400);
  }

  .sm\:fs-500 {
    font-size: var(--fs-500);
  }

  .sm\:fs-600 {
    font-size: var(--fs-600);
  }

  .sm\:fs-700 {
    font-size: var(--fs-700);
  }

  .sm\:fs-800 {
    font-size: var(--fs-800);
  }

  .sm\:fs-900 {
    font-size: var(--fs-900);
  }

  .sm\:fs-1000 {
    font-size: var(--fs-1000);
  }

  .sm\:fs-1100 {
    font-size: var(--fs-1100);
  }

  .sm\:fs-1200 {
    font-size: var(--fs-1200);
  }

  .sm\:fs-1300 {
    font-size: var(--fs-1300);
  }

  .sm\:width-full {
    width: 100%;
  }

  .sm\:width-half {
    width: 50%;
  }

  .sm\:width-quarter {
    width: 25%;
  }

  .sm\:width-third {
    width: 33.3333333333%;
  }
}
@media (min-width: 48em) {
  .md\:fs-300 {
    font-size: var(--fs-300);
  }

  .md\:fs-400 {
    font-size: var(--fs-400);
  }

  .md\:fs-500 {
    font-size: var(--fs-500);
  }

  .md\:fs-600 {
    font-size: var(--fs-600);
  }

  .md\:fs-700 {
    font-size: var(--fs-700);
  }

  .md\:fs-800 {
    font-size: var(--fs-800);
  }

  .md\:fs-900 {
    font-size: var(--fs-900);
  }

  .md\:fs-1000 {
    font-size: var(--fs-1000);
  }

  .md\:fs-1100 {
    font-size: var(--fs-1100);
  }

  .md\:fs-1200 {
    font-size: var(--fs-1200);
  }

  .md\:fs-1300 {
    font-size: var(--fs-1300);
  }

  .md\:width-full {
    width: 100%;
  }

  .md\:width-half {
    width: 50%;
  }

  .md\:width-quarter {
    width: 25%;
  }

  .md\:width-third {
    width: 33.3333333333%;
  }
}
@media (min-width: 62em) {
  .lg\:fs-300 {
    font-size: var(--fs-300);
  }

  .lg\:fs-400 {
    font-size: var(--fs-400);
  }

  .lg\:fs-500 {
    font-size: var(--fs-500);
  }

  .lg\:fs-600 {
    font-size: var(--fs-600);
  }

  .lg\:fs-700 {
    font-size: var(--fs-700);
  }

  .lg\:fs-800 {
    font-size: var(--fs-800);
  }

  .lg\:fs-900 {
    font-size: var(--fs-900);
  }

  .lg\:fs-1000 {
    font-size: var(--fs-1000);
  }

  .lg\:fs-1100 {
    font-size: var(--fs-1100);
  }

  .lg\:fs-1200 {
    font-size: var(--fs-1200);
  }

  .lg\:fs-1300 {
    font-size: var(--fs-1300);
  }

  .lg\:width-full {
    width: 100%;
  }

  .lg\:width-half {
    width: 50%;
  }

  .lg\:width-quarter {
    width: 25%;
  }

  .lg\:width-third {
    width: 33.3333333333%;
  }
}
/* GORKO: auto-generated utility classes end */
